$orange: #ff6033;
$about-color:#00b1b1;
$services-bg-color:#70bfff;
$services-lighter: lighten($services-bg-color, 10%);
$services-darker: darken($services-bg-color,20%);
$gallery-bg:#ffe92f;
$gallery-btn:#5585a2;
$subscribe-btn:#96b92c;
$blog-bg:#b07cf7;
$blog-button-color: #f72b3b;
$contact-input-color: rgb(0,196,196);
$contact-input-color-opacity:rgba(0,196,196,0.5);
$contact-input-color-focus: #355b82;